<!-- /books -->

<div class='display-book'>
  <p class="m-t-3 test"> Total Books: {{bookCount.count}}</p>
  {{#each books}}
  <div class='row m-b-3 m-t-3'>
    <div class="col-xs-4 test">
      <img class="img-fluid" src="{{this.cover_url}}" alt="" />
    </div>
    <div class="col-xs-8">
      <h3>
        <a href="/books/view/{{this.id}}">
          {{this.title}}
        </a>
      </h3>
      <p>
        {{#each authorlist}}
          {{#if @last}}
            <a href="/authors/view/{{this.authorID}}">{{this.firstname}} {{this.lastname}}</a>
          {{else}}
            <a href="/authors/view/{{this.authorID}}">{{this.firstname}} {{this.lastname}}</a> |
          {{/if}}
        {{/each}}
      </p>
      <p>Genre: <span>{{this.genre}}</span></p>
      <p>Description: <span>{{this.description}}</span></p>
      <a class="btn btn-primary btn-sm" href="/books/view/{{this.id}}">View Book Details</a>
    </div>
  </div>
  {{/each}}
  <a class="btn btn-secondary btn-lg" href="/books/add">Add A Book</a>
</div>
