<!-- /books/edit/:id -->

<form class="edit-book m-t-3" action="/books/edit/{{book.id}}" method="post">
  <div class="title">
    <label for="book-title">Title</label>
    <input type="text" class="form-control" name='title' placeholder="Title" value="{{book.title}}">
  </div>


  <div class="existingAuthors">
    <label for="selectedAuths">Existing Author(s)</label>
    <select multiple name="selected-authors" class="form-control" id="selectedAuths">
      {{#each existingAuthors}}
      <option id="{{this.id}}">
        {{this.first_name}} {{this.last_name}}
      </option>
      {{/each}}
    </select>
  </div>

  <div class="authorSelector">
    <label for="choiceOfAuths">Author(s):</label>
    <select multiple name="choiceOfAuths" class="form-control" id="choiceOfAuths">
      {{#each allAuthors}}
      <option id="{{this.id}}">
        {{this.first_name}} {{this.last_name}}
      </option>
      {{/each}}
    </select>
  </div>

  <div class="genre">
    <label for="book-genre">Genre</label>
    <input type="text" class="form-control" name='genre' placeholder="Genre" value="{{book.genre}}">
  </div>

  <div class="cover_url">
    <label for="book-cover_url">Cover Image URL</label>
    <input type="text" class="form-control" name='cover_url' placeholder="Cover URL" value="{{book.cover_url}}">
  </div>

  <div class="description">
    <label for="book-description">Description</label>
    <textarea class="form-control" name='description' rows="8" cols="40">{{book.description}}</textarea>
  </div>
  <br>
  <div>
    <input class="btn btn-info longbtn" type="submit" value="Update Book">
  </div>
</form>
