<!-- /books/edit/:id -->

<form class="edit-book m-t-3" action="/books/edit/{{data.id}}" method="post">
  <div class="title">
    <label for="book-title">Title</label>
    <input type="text" class="form-control" name='title' placeholder="Title" value="{{data.title}}">
  </div>

  <div class="author">
    <label for="book-author">Author</label>
    <input type="text" class="form-control" name='author' placeholder="Author" value="{{data.author}}">
  </div>

  <div class="genre">
    <label for="book-genre">Genre</label>
    <input type="text" class="form-control" name='genre' placeholder="Genre" value="{{data.genre}}">
  </div>

  <div class="cover_url">
    <label for="book-cover_url">Cover Image URL</label>
    <input type="text" class="form-control" name='cover_url' placeholder="Cover URL" value="{{data.cover_url}}">
  </div>

  <div class="description">
    <label for="book-description">Description</label>
    <input type="text" class="form-control" name='description' placeholder="Description" value="{{data.description}}">
  </div>
  <br>
  <div>
    <input class="btn btn-info longbtn" type="submit" value="Update Book">
  </div>
</form>
