<section class='display-single'>
  <h3>{{book.title}} -  {{book.id}}</h3>
  <img src="{{book.cover_url}}"/>
  <p>ID: {{book.id}}</p>
  <p>Genre: <span>{{book.genre}}</span></p>
  <p>Description: <span>{{book.description}}</span></p>
</section>
