<!-- /authors/view/:id -->

<div class="display-author">
  <div class='row m-b-3 m-t-3'>
    <div class="col-xs-4 test">
      <img class="authors img-fluid" src="{{author.portrait_url}}" alt="" />
    </div>
    <div class="col-xs-6">
      <h4>{{author.first_name}} {{author.last_name}}</h4>
      <p>{{author.bio}}</p>
      <br>
      <h4>Book(s)</h4>
      <p>
        {{#each books}}
          <p>
            <a href="/books/view/{{this.bookID}}">
              {{this.bookTitle}}
            </a>
          </p>
        {{/each}}
      </p>
      <br>
      <a class="btn btn-primary btn-sm" href="/authors/edit/{{author.id}}">Edit Author Details</a>
      <a class="btn btn-danger btn-sm" href="/authors/delete/{{author.id}}">Delete Author</a>
    </div>
  </div>
</div>
